.wrapper {
    width: 1100px;
    height: 500px;
    background-color: #e3e1dc;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    margin-top: -25px;

    display: flex;
    justify-content: center;
}

.inner {
    width: 85%;
    height: 90%;
    margin-top: 30px;
}

.inner:first-child {
    color: #291507;
    font-size: 18px;
    font-weight: 500;
}

.bar {
    width: 60px;
    height: 3px;
    border-radius: 50px;
    background-color: #4d270c;
    margin-top: 5px;
}

.inner p:nth-child(3) {
    color: #291507;
    font-size: 48px;
    font-weight: 700;
    margin-top: 20px;
}

.more {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 10px;
    margin-top: 20px;
    text-decoration: none;

    &:hover p,
    &:hover .icon, &:active .icon {
        text-decoration: underline rgba(41, 21, 7, 0.6);
        cursor: pointer;
    }
}

.more p {
    color: rgba(41, 21, 7, 0.6);
    font-size: 18px;
    font-weight: 700;
}

.icon {
    width: 24px;
    height: 24px;
    color: rgba(41, 21, 7, 0.6);
}

.photos {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.photo {
}

.photo img {
    width: 200px;
    height: 200px;
    border-radius: 24px;
    margin: 0;

    transition: all 0.8s cubic-bezier(0.15, 0.83, 0.66, 1);

    &:hover {
        background-color: #f8f8f8;
        transform: scale(1.03);
    }
}

.name {
    color: #291507;
    font-size: 18px;
    font-weight: 600;
    margin-top: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width: 641px) and (max-width: 960px) {
}
// Mobile
@media (max-width: 640px) {
    .wrapper {
        width: 90%;
        height: 530px;
    }
    .inner:first-child {
        font-size: 12px;
    }
    .bar {
        width: 40px;
    }
    .inner p:nth-child(3) {
        font-size: 18px;
    }
    .more p {
        font-size: 10px;
    }
    .icon {
        width: 10px;
        height: 10px;
    }
    .photos {
        display: grid;
        justify-content: center;
        grid-template-columns: auto auto;
        gap: 15px 20px ;
        margin-top: 20px;
    }
    .photo img {
        width: 145px;
        height: 145px;
    }
    .name {
        font-size: 12px;
    }
}
