.wrapper {
    width: 1100px;
}

img {
    width: 200px;
    margin: 20px 0 20px 0;
}


/* RESPONSIVE */
//Tablet
@media (min-width: 641px) and (max-width: 960px) {
    .wrapper {
       
    }
}
// Mobile
@media (max-width: 640px) {
    .wrapper {
        width: 90%;
    }
    img {
        width: 120px;
    }
}
