p,
strong {
    margin: 0;
    font-style: normal;
    line-height: normal;
    font-family: Montserrat;
}

input {
    font-family: Montserrat;
}

a {
    text-decoration: none;
    color: #000;
}

.Inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 150px;
}

/* RESPONSIVE */
/* Tablet */
@media (min-width: 46.25em) and (max-width: 63.9375em) {
}
/* Mobile */
@media (max-width: 46.1875em) {
    .Inner {
        width: 46.25em;
        margin-left: 20%;
    }
}
